.carousel-item img {
    width: 100% !important;
    object-fit: cover; /* Ensures images are not stretched and cover the area */
    object-position: center;
}

.carrdiv {
    height: 600px;
    width: 40%;
}

.carrinn {
    height: 600px;
    width: 100%;
}

.padre{
    display: flex;
    justify-content: space-between; /* Centra horizontalmente */
    align-items: center; 
    margin-top: 50px;
}

.cont-texto{
    width: 30%;
    display: flex;
    justify-content: center;
}

.cont-loader{
    width: 30%;
    display: flex;
    justify-content: center;
}

.txt{
    font-family: Monaco;
    font-size: 70px;
    max-width: 55%;
}

.spinner-border{
    width: 100px;
    height: 100px;
}

.txt-insta{
    margin-top: 15px;
}